body, html{
  height: 100%;
}

.body-regioni{
  color:white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%; 
}

.produttore-nome{
 text-shadow: 0 0 1px gray, 0 0 1px gray, 0 0 1px gray, 0 0 1px black;
  font-size: 20px;
  font-weight: bold;
}

.regione-nome{
 text-shadow: 0 0 2px gray, 0 0 2px gray, 0 0 2px gray, 0 0 2px black;
 font-weight: bold;
}
