<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:replace="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
	<h1 class="titoli-form">Cataloghi</h1>
	
	<div class="row row-cols-sm-1 row-cols-sm-2">
		<div class="col titoli-form" th:each="catalogo : ${cataloghi}">
			<a th:href="@{'/catalogo'+'/'+${catalogo.id}}">

				<img th:src="${catalogo.immagine}" height="450px"> 
			</a>
		</div>
	</div>

	<footer th:replace="fragments/myBase.html :: pie"></footer>
</body>
</html>