<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/cataloghi.css}" rel="stylesheet">

<head th:replace="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
  <div style="text-align:right"> <img th:src="${catalogo.immagine}" height="300px"> </div>
  <div class="album py-5 bg-light" >
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="vino : ${vini}">

          <div class="card shadow-sm my-zoom my-zoom-scale">
            <a class="bd-placeholder-img card-img-top mx-auto"
            th:href="@{'/vino' + '/' + ${vino.id}}">
            <img th:src="${vino.immagine}" height="250px">
          </a>

          <div class="my-produttore" th:text="${vino.nome}"> </div>

          <div class="card-body">
            <p class="card-text collapse" th:id="'card_'+${vino.id}" th:text="${vino.descrizione}"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" th:attr="data-target='#card_'+${vino.id}">
                Dettaglio</button>
              </div>
              <small class="text-muted" th:text="${vino.voto}"></small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>

<footer th:replace="fragments/myBase.html :: pie"></footer>
</html>