<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
	<form th:action="@{'/inserisciCommento'+'/'+${vino.id}}" method="POST" th:object="${commento}">
		<div class="text-center align-items-center">
			<h2>Inserisci il commento</h2>
			<div class="from-group mt-5"> 
				<textarea rows="10"
				cols="80" 
				type="text" 
				th:field="*{testo}"
				required>
			</textarea> 
		</div>
		<button type="submit" class="btn btn-lg my-btn-primary btn-block">Invia</button>
	</div>
</form>
</body>
</html>