<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>	
	<form th:action="@{'/editCommento/' + ${commento.id}}" method="POST" th:object="${commento}">
		<div class="text-center align-items-center">
			<h2>Modifica il commento</h2>
			<div class="from-group mt-5"> 
				<textarea type="text"
				rows="10"
				cols="80"  
				th:field="*{testo}" 
				th:value="*{testo}">
			</textarea> 
		</div>
		<button type="submit" class="btn btn-lg my-btn-primary btn-block"> Modifica commento</button>
	</div>
</form>
</body>
</html>