<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
 <title>error</title>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->
 <style type="text/css">body {
   background: #dedede;
 }
 .page-wrap {
   min-height: 100vh;
 }</style>
</head>
<body>
 <div class="page-wrap d-flex flex-row align-items-center">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-md-12 text-center">
         <span class="display-1 d-block mb-4" th:text="${'Error ' + status}"></span>
         <div style="color: red;" th:if=${path} th:text="${'Path: '+ path}"></div>
         <div th:if=${message} th:text="${'Message: ' + message}"></div>
         <div th:if=${reason} th:text="${'Reason: '+ reason}"></div>
         <div th:if=${timestamp} th:text="${'Timestamp: '+ timestamp}"></div>
         <div th:if=${exception} th:text="${'Exception: '+ exception}"></div>
         <div class="mt-4 mb-4 lead">The page you are looking for was not found.</div>
         <a th:href="@{/default}" class="btn btn-link">Back to Home</a>
       </div>
     </div>
   </div>
 </div>
</body>
</html>

