<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>ERRORE VINO</title>
</head>
	<body style="text-align:center;">
	
	
		<h1 th:text="'il ' + ${errore} + ' che stai cercando non esiste!'"> </h1>
	
		<img src="https://i.postimg.cc/WzjvmYBr/missigno.png" height="500px" style="margin-top:50px;margin-bottom:50px;">
	
		<div>
			<a href="/home"> home</a>
		</div>
	
	</body>
</html>