<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/myBase.html :: intestazione">
	<link th:href="@{/css/carousel.css}" rel="stylesheet">

</head>

<header>
	<nav th:replace="fragments/myBase.html :: navigazione"></nav>
</header>

<body>
	<div th:replace="fragments/myBase.html :: cards-vini"></div>

	<main>
		<!--Immagini vini alternati-->
		<div th:replace = "fragments/myBase.html :: immagini-alternate"></div>

		<!-- FOOTER -->
		<footer th:replace = "fragments/myBase.html :: pie"></footer>
	</main>
</body>

</html>