<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head 
th:include="fragments/myBase.html :: intestazione" >
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
</head>

<nav th:replace="fragments/myBase.html :: navigazione"></nav>

<body class="text-center">

	<div class="row h-100 justify-content-center align-items-center" style="background-color:#ddccff">    
		<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
			<div class="panel panel-info" style="margin-top:50px;">
				<div class="panel-heading">
					<h3>Login</h3>
				</div>     

				<div class="panel-body pt-3" >

					<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

					<form id="loginform" class="form-horizontal" role="form" th:action="@{/login}" method="POST">

						<div class="input-group mb-3">
							<span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
							<input id="login-username" type="text" class="form-control" name="username" placeholder="Username">                                        
						</div>

						<div class="input-group mb-3">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="login-password" type="password" class="form-control" name="password" placeholder="Password">

						</div>

						<div class="form-group m-3">
							<!-- Button -->
							<div class="col-sm-12 controls">
								<button class="btn btn-lg my-btn-primary btn-block" type="submit">Login </button>

							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12 control">
								<div class="my-login-now-btn">
									Non hai un account? 
									<a th:href="@{/register}" style="color: #9966ff">
										Registrati
									</a>
								</div>
							</div>
						</div>    
					</form>     

				</div>                     
			</div>  
		</div>
	</div>

	<footer th:replace="fragments/myBase.html :: pie"></footer> 
</body>
</html>
