<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/piatti.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazione"></nav>

<body>
	<h2>Produttori:</h2>
	<ul>
		<li th:each="produttore : ${produttori}" th:text="${produttore.nome}">
			
		</li>
	</ul>

	<footer th:replace="fragments/myBase.html :: pie"></footer>
</body>

</html>