<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/piatti.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
	<h1 class="titoli-form" th:text="${produttore.nome}"></h1>
	
	<h3 class="offset-1"> Descrizione:</h3>
	<div class="offset-1 mb-6" th:text="${produttore.descrizione}"></div>

	<h3 class="offset-1 mb-6 mt-5">Regioni in cui produce:</h3>
	
	<div class="row row-cols-sm-1 row-cols-sm-2 row-cols-sm-3 row-cols-sm-4">
		<div class="col titoli-form" th:each="regione : ${produttore.regioni}">		
			<a 
			th:href="'/regione' + '/' + ${regione.id}"> 
			<img src="https://pics.freeicons.io/uploads/icons/png/14432100661535698998-512.png" height="150px"> 
		</a>
		<div class="my-produttore my-produttore-nome" th:text="${regione.nome}"> </div>
	</div>
</div>

<h3 class="offset-1">Vini che produce: </h3>
<ul class="mb-5">
	<li th:each="vino : ${produttore.viniProdotti}" style="margin-left: 160px;">
		<a class="text-capitalize my-text-decoration-none" th:href="@{'/vino'+'/'+${vino.id}}" th:text="${vino.nome}"></a>
	</li>
</ul>

<div style="text-align:center;">
	<a sec:authorize="hasAuthority('ADMIN')" class="btn my-btn-primary"  th:href="@{'/admin'+'/'+'editProduttore'+'/'+${produttore.id}}">Modifica Produttore</a>
</div>

</body>
</html>