<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione">

</head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
	<h2 class="mx-auto">Profilo personale</h2>
	<div class="mx-5 mt-5">
		<div class="row">
			<div class="col">
				<img src="https://i.postimg.cc/Fsz0Pz49/user-icon.png" height="200px"> 
			</div>
			<div class="col">
				<table class="table-profilo">
					<tr>
						<td class="table-profilo-desc">Username: </td>
						<td></td>
						<td th:text="${credentials.username}"></td>
					</tr>
					<tr>
						<td class="table-profilo-desc">Nome: </td>
						<td></td>
						<td class="text-capitalize" th:text="${user.nome}"></td>
					</tr>
					<tr>
						<td class="table-profilo-desc">Cognome: </td>
						<td></td>
						<td class="text-capitalize" th:text="${user.cognome}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<hr>
	<div class="mt-5 mx-5">
		<h3>I miei commenti:</h3>
		<table class="table table-bordered mx-auto">
			<tr>
				<th scope="col">Vino</th>
				<th scope="col">Commento</th>
			</tr>
			<tr th:each="commento : ${commenti}">
				<td>
					<a th:href="@{'/vino'+'/'+ ${commento.vino.id}}" class="text-capitalize" th:text="${commento.vino.nome}"></a>
				</td>
				<td th:text="${commento.testo}"></td>
			</tr>
		</table>
	</div>

</body>

</html>