<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/myBase.html :: intestazione"> </head>

<body>
	<div class="mx-auto mt-5 register">
		<h1 >Congratulazioni ti sei registrato!</h1>
		<a th:href="@{/index}">Home</a>
	</div>
</body>
</html>