<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/regioni.css}" rel="stylesheet">

<head th:replace="fragments/myBase.html :: intestazione"></head>


<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body class="body-regioni" background="https://i.postimg.cc/htfYdgMb/sfondo-regioni.jpg">
<h1 class="titoli-form">Regioni</h1>

	<div th:replace="fragments/italia.html :: italia"></div>

</body>

</html>