<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/myBase.html :: intestazione">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
</head>

<nav th:replace="fragments/myBase.html :: navigazione"></nav>

<body>

   <div class="row h-100 justify-content-center align-items-center" style="background-color:#ddccff">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="">
         <div class="text-center mt-5">
            <h3>Registrati</h3>
         </div>  
         <div class="row justify-content-md-center" >
            <form id="signupform" class="form-horizontal" role="form" th:action="@{/register}" method="POST">

               <div id="signupalert" style="display:none" class="alert alert-danger">
                  <p>Error:</p>
                  <span></span>
               </div>

               <div class="row pl-7">

                  <div class="col mt-3">
                   <div class="form-group">

                     <label for="email" class="col-md-3 control-label">Username</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control" name="email" placeholder="Username" th:field="${credentials.username}">
                    </div>
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
                 </div>
              </div>


              <div class="col mt-3">    
               <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                     <input type="password" class="form-control" name="passwd" placeholder="Password" th:field="${credentials.password}">
                     <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
                  </div>
               </div>
            </div>

         </div>

         <div class="row pl-7">

            <div class="col" >     
               <div class="form-group">
                  <label for="firstname" class="col-md-3 control-label">Nome</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="firstname" placeholder="Nome" th:field="${user.nome}">
                  </div>
               </div>
            </div>

            <div class="col">  
               <div class="form-group mb-5">
                  <label for="firstname" class="col-md-3 control-label">Cognome</label>
                  <div class="col-md-9">
                     <input type="text" class="form-control" name="lastname" placeholder="Cognome" th:field="${user.cognome}">
                  </div>
               </div>
            </div>

         </div>

         
         <div class="form-group">
            <!-- Button -->                                        
            <div class="text-center">
               <button type="submit" class="btn btn-lg my-btn-primary btn-block">  Registrati</button>
               <div class="my-login-now-btn"> Se hai gia' un account effettua il 
                  <a th:href="@{/login}" style="color: #9966ff"> Login
                  </a>
               </div>  
            </div>
         </div>

      </form>
   </div>
</div>
</div>
<footer th:replace="fragments/myBase.html :: pie"></footer> 
</body>
</html>
