<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/regioni.css}" rel="stylesheet">

<head th:replace="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>
<body th:background="${regione.immagine}" class="body-regioni">

	<h1 class="titoli-form regione-nome" th:text="${regione.nome}"></h1>

	<div class="my-produttore mt-6 regione-nome">Produttori di questa regione:</div> 
	
	<div class="row mt-6">
		
		<div class="col-sm align-middle">
			<div class="row row-cols-sm-1 row-cols-sm-2">

				<div class="col titoli-form" th:each="produttore : ${produttori}">
					<a th:href="'/produttore' + '/' + ${produttore.id}"> 
						<img src="https://i.postimg.cc/Fsz0Pz49/user-icon.png" height="120px"> 
					</a>
					
					<p th:text="${produttore.nome}" class="text-capitalize produttore-nome"> </p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>