<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<link th:href="@{/css/piatti.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>

  <div th:replace="fragments/myBase.html :: vino"></div>

  <h2>Commenti: </h2>  
  <div class="justify-content-center mt-2 mx-auto">

    <div class="d-flex justify-content-center pt-3 pb-2"> 
        <a class="btn" th:href="@{'/addCommento/' + ${vino.id}}" 
        style="background-color: #6223de;">Inserisci un commento</a> 
    </div>

    <div  th:each="commento : ${commenti}"
    th:if="${commento != null}" 
    class="py-2 d-flex justify-content-center">
    <div class="second py-2 px-2 comment-border">
        
        <span th:text="${commento.utente.username}" class="text-capitalize username-bold"> </span>
        <span th:text="${commento.data}"></span>
        <span class="span-comment-margin" 
        th:if="${credentialsCorrente.username == commento.utente.username} OR ${credentialsCorrente.role == 'ADMIN'}">
            <span> 
                <a th:href="'/editCommento' + '/' + ${commento.id}"> 
                    <img src="https://i.postimg.cc/7ZyDrJkz/edit-icon.png" width="25px"> 
                </a>
            </span>

            <span>
                <a th:href="'/cancellaCommento' + '/' + ${commento.id}"> 
                    <img src="https://i.postimg.cc/8PvDYBqD/remove-icon.png" width="25px"> 
                </a>
            </span>
        </span>

        <div class="py-1 pt-2 d-flex justify-content-between">
            <div> 
                <img src="https://i.postimg.cc/Fsz0Pz49/user-icon.png" width="80">
                <span th:text="${commento.testo}" style="margin-left: 20px;"></span>
            </div>
        </div>
    </div>
</div>

</div>

<footer th:replace="fragments/myBase.html :: pie"></footer>
</body>

</html>
