<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="intestazione"> 
	<meta charset="utf-8">
	<title>Siwmelier</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>


<!--BARRA DI NAVIGAZIONE SE NON SEI LOGGATO-->
<nav th:fragment="navigazione" class="navbar navbar-expand-lg bg-viola-chiaro navbar-dark">
	<a th:href="@{/index}" class="navbar-brand nav-font-size">Home</a>
	<ul class="navbar-nav me-auto">
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/vini}">Vini</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/cataloghi}">Cataloghi</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/regioni}">Regioni</a>
		</li>
	</ul>

	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/login}">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/register}">Registrati</a>
		</li>
	</ul>
</nav>

<!--BARRA DI NAVIGAZIONE SE SEI LOGGATO-->
<nav th:fragment="navigazioneLoggato" class="navbar navbar-expand-lg bg-viola-chiaro navbar-dark">
	<a th:href="@{/home}" class="navbar-brand nav-font-size">Home</a>
	<ul class="navbar-nav me-auto">
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/vini}">Vini</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/cataloghi}">Cataloghi</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/regioni}">Regioni</a>
		</li>

		<li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
			<a class="nav-link dropdown-toggle nav-font-size" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Gestisci database
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" th:href="@{/admin/addVino}">Aggiungi Vino</a>
				<a class="dropdown-item" th:href="@{/admin/addProduttore}">Aggiungi Produttore</a>
				<a class="dropdown-item" th:href="@{/admin/addPiatto}">Aggiungi Piatto</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" th:href="@{/admin/cancellaVini}">Cancella Vino</a>
				<a class="dropdown-item" th:href="@{/admin/cancellaProduttori}">Cancella Produttore</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" th:href="@{/admin/editVini}">Modifica Vino</a>
				<a class="dropdown-item" th:href="@{/admin/editProduttori}">Modifica Produttore</a>
			</div>
		</li>
	</ul>

	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/profilo}">Profilo</a>
		</li>

		<li class="nav-item">
			<a class="nav-link nav-font-size" th:href="@{/logout}">Logout</a>
		</li>
	</ul>
</nav>

	<!--CARDS DEI VINI PIU VOTATI, MOSTRIAMO SOLO I PRIMI 4 DELLA LISTA PER EVITARE
		CHE LE CARDS SIANO TROPPO PICCOLE.-->
		<div th:fragment="cards-vini">
			<h1 class="my-home-title mt-3">I nostri migliori vini</h1>
			<div id="piu-votati">
				<div class="card-deck">
					<div class="card my-hover" th:each="vino, iterStat : ${viniDecr}" 
					th:if="${vino.voto > 7 and iterStat.index < 4}">
					<h5 class="card-title" th:text="${vino.nome}"></h5>
					<a th:href="@{'/vino'+'/'+${vino.id}}" class="mx-auto">
						<img  class="card-img-top" th:src="${vino.immagine}" alt="Card image cap">
					</a>
					<div class="card-body">
						<p class="card-text" th:if="${#strings.length(vino.descrizione) >80}" 
							th:text="${#strings.substring(vino.descrizione,0,80) + '...'}"></p>

							<p class="card-text" th:unless="${#strings.length(vino.descrizione) >80}" 
								th:text="${vino.descrizione}"></p>
							</div>
							<div class="card-footer" th:text="${vino.voto}"></div>
						</div>
					</div>
				</div>
			</div>


			<!--IMMAGINI DEI VINI ALTERNATE-->
			<div th:fragment="immagini-alternate">
				<!--Immagini vini alternati-->

				<div class="container marketing"> <!--inizio container-->

  		<!-- INIZIO IMMAGINI ALTERNATE CON CONDIZIONE IF SULLA CLASSE, SE INIDICE ITERATORE
  			E' PARI ALLORA METTI LA FOTO A DESTRA, ALTRIMENTI A SINISTRA   -->
  			<hr class="featurette-divider">
  			<h1 class="my-title">Gli ultimi aggiunti: </h1>
  			<div th:each="vino,iterStat : ${viniCresc}" th:if="${iterStat.index < 6}">

  				<div class="row featurette">
  					<div th:class="${iterStat.even}? 'col-md-7' : 'col-md-7 order-md-2'" >
  						<h2 class="my-featurette-title" th:text="${vino.nome}"></h2>
  						<p class="lead" th:text=${vino.descrizione}></p>
  					</div>
  					<div th:class="${iterStat.even}? 'col-md-5 my-hover' : 'col-md-5 order-md-1 my-hover'">
  						<a th:href="@{'/vino'+'/'+${vino.id}}">
  							<img th:src="${vino.immagine}" 
  							class="my-img-fluid mx-auto">
  						</a>
  					</div>
  				</div>
  				<hr class="featurette-divider">
  			</div>
  			<!-- /fine delle immagini dei vini -->

  		</div><!-- /.container -->
  	</div>



  	<!--PAGINA DEL VINO-->
  	<div th:fragment="vino">
  		<div class="container">
  			<div class="row mx-auto mt-4">
  				<div class="col">
  					<img th:src="${vino.immagine}" class="rounded float-left my-immagine-vino" width="500" height="500">
  				</div>

  				<div class="col">
  					<h2 th:text="${vino.nome}"></h2>
  					<a th:if="${produttore != null}" class="text-muted my-produttore" th:href="@{'/produttore'+'/'+${produttore.id}}" th:text="'Produttore:' + ' ' + ${produttore.nome}"></a>
  					<div class="text-muted" th:text="${vino.descrizione}"></div>

  					<hr>

  					<div class="row">
  						<div class="col">
  							<h6>Colore</h6>
  						</div>
  						<div class="col">
  							<p th:text="${vino.colore}">COLORE</p>
  						</div>
  					</div>

  					<div class="row">
  						<div class="col">
  							<h6>Effervescenza</h6>
  						</div>
  						<div class="col">
  							<div for="customRange2" class="form-group">
  								<input type="range" class="custom-range" min="0" max="5" id="customRange2" th:value="${vino.effervescenza}">
  							</div>
  						</div>
  					</div>

  					<div class="row">
  						<div class="col">
  							<h6>Corposità</h6>
  						</div>
  						<div class="col">
  							<div for="customRange2" class="form-group">
  								<input type="range" class="custom-range" min="0" max="5" id="customRange2" th:value="${vino.corposita}">
  							</div>
  						</div>
  					</div>

  					<div class="row">
  						<div class="col">
  							<h6>Gradazione alcolica</h6>
  						</div>
  						<div class="col">
  							<p th:text="${vino.gradazione} +'&deg;'">GRADAZIONE</p>
  						</div>

  						<div class="row">
  							<div class="col">
  								<h6>Annata</h6>
  							</div>
  							<div class="col">
  								<p th:text="${vino.annoImbottigliamento}">ANNO</p>
  							</div>
  						</div>

  						<div class="row">
  							<div class="col">
  								<h6>Voto</h6>
  							</div>
  							<div class="col">
  								<p th:text="${vino.voto}">VOTO</p>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  			<hr>
  			<h2 class="mt-5">Abbinamenti con questo vino: </h2>
  			<div class="row" >
  				<div class="col mx-auto mt-3 mb-5" th:each="piatto : ${piatti}">
  					<img class="rounded-circle mb-4" height="200px" width="200px" th:src="${piatto.immagine}">
  					<div class="text-capitalize" th:text="${piatto.nome}" style="margin-left:40px;">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>


  	<!--FOOTER-->
  	<footer class="container" th:fragment="pie">
  		<p class="float-end"><a href="#">Back to top</a></p>
  		<p>&copy; 2017–2021 Siwmelier 
  			&middot; <a href="#">Privacy</a> 
  			&middot; <a href="#">Termini</a>
  			&middot; <a href="#">Condizioni d'uso</a>
  		</p>
  	</footer>


  	</html>