<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:replace="fragments/myBase.html :: intestazione"> </head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
  <div class="m-5">
    <h2> Seleziona un produttore per cancellarlo </h2>
  </div>

  <div class="mx-3">
   <table class="table table-bordered">
    <tr>
      <th scope="col" class="my-produttore" >Produttore</th>
      <th scope="col" class="my-produttore">Regione/i</th>
    </tr>

    <tr th:each="produttore : ${produttori}">
      <td>
        <a class="my-produttore" th:href="@{'/admin/cancellaProduttore' + '/' + ${produttore.id}}" th:text="${produttore.nome}"></a>
      </td>
      
      <td th:if="${produttore.regioni != null}" th:text="${produttore.regioni}"></td>
      
    </tr>
  </table>
</div>
</body>
</html>