<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
  <div class="m-5">
    <h2>Seleziona un vino per modificarlo</h2>
  </div>

  <div class="mx-3">
    <table class="table table-bordered mx-2">
      <tr>
        <th scope="col" class="my-produttore">Nome</th>
        <th scope="col" class="my-produttore">Produttore</th>
        <th scope="col" class="my-produttore">Catalogo</th>
      </tr>

      <tr th:each="vino : ${vini}">
        <td>
          <a th:href="@{'/admin/editVino' + '/' + ${vino.id}}" th:text="${vino.nome}" 
          class="my-produttore"></a>
        </td>
        <td th:text="${vino.produttore.nome}"  class="my-produttore"></td>
        <td class="uppercase" th:if="${vino.catalogo != null}" th:text="${vino.catalogo.nome}"></td>
      </tr>
    </table>
  </div>

</body>

</html>
