<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>
  <div class="m-5">
    <h2>Seleziona un produttore per modificarlo</h2>
  </div>

  <div class="mx-3">
    <table class="table table-bordered">
      <tr>
        <th scope="col" class="my-produttore">Nome</th>
        <th scope="col" class="my-produttore">Regioni</th>
      </tr>

      <tr th:each="produttore : ${produttori}">
        <td>
          <a th:href="@{'/admin/editProduttore' + '/' + ${produttore.id}}" th:text="${produttore.nome}" 
          class="my-produttore"></a>
        </td>
        <td th:text="${produttore.regioni}"  class="my-produttore"></td>
      </tr>
    </table>
  </div>
</body>

</html>
