<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<head th:replace="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body class="text-center">

	<div>
		<h3 class="titoli-form">Modifica i dati del vino:</h3>
	</div>

	<form th:action="@{'/admin/editVino' + '/' + ${vino.id}}" method="POST" th:object="${vino}">

		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="form-group">
						<label for="myFormInput">Nome</label>
						<input type="text"  
						th:field="*{nome}" 
						th:value="*{nome}"
						class="form-control" 
						id="myFormInput" 
						placeholder="Nome"
						required>
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Descrizione</label>
						<input type="text" 
						th:field="*{descrizione}"  
						th:value="*{descrizione}"
						class="form-control" 
						id="myFormInput-2" 
						placeholder="Descrizione"
						required>
						<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Anno di imbottigliamento</label>
						<input type="number" 
						min="0"
						max="${maxAnno}" 
						step="1" 
						th:field="*{annoImbottigliamento}" 
						th:value="*{annoImbottigliamento}" 
						class="form-control"
						id="myFormInput-2" 
						placeholder="Anno">
						<span th:if="${#fields.hasErrors('annoImbottigliamento')}" th:errors="*{annoImbottigliamento}">
						</span>
					</div>

					<div class="form-group">
						<label>Gradazione alcolica</label>
						<input type="number"
						min="0"
						max="30"
						step="0.5" 
						th:field="*{gradazione}"
						th:value="*{gradazione}" 
						class="form-control" 
						id="myFormInput" 
						placeholder="Gradazione alcolica">
						<span th:if="${#fields.hasErrors('gradazione')}" th:errors="*{gradazione}"></span>
					</div>

				</div>

				<div class="col">
					<div class="form-group"> 
						<label>Voto</label>
						<input type="number" min="0" max="10" step="0.1" th:field=*{voto} th:value=*{voto}>
					<span th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}"></span>
				</div>

				<div class="form-group"> 
					<label>Colore</label>					
					<select th:value="*{colore}"
					th:field="*{colore}">
					<option disabled value="0">--Seleziona un colore--</option>
					<option value="Rosso">Rosso</option>
					<option value="Bianco">Bianco</option>
					<option value="Rosato">Rosato</option>
				</select>
				<span th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></span>
			</div>

			<div for="customRange2" class="form-group">
				<label>Corposità</label>
				<input type="range" 
				class="custom-range" 
				min="0" max="5" 
				id="customRange2"
				th:value="*{corposita}"
				th:field="*{corposita}">
			</div>

			<div for="customRange2" class="form-group">
				<label>Effervescenza</label>
				<input type="range" 
				class="custom-range" 
				min="0" max="5" 
				id="customRange2" 
				th:value="*{effervescenza}"
				th:field="*{effervescenza}">
			</div>

			<div class="form-group">
				<label>Catalogo</label>
				<select th:field =*{catalogo}>
					<option disabled value="0">--Seleziona un catalogo--</option>
					<option  
					th:value="${catalogo.id}" 
					th:each="catalogo :${cataloghi}" 
					th:text="${catalogo.nome}"></option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<button type="submit" class="btn btn-lg my-btn-primary btn-block">Modifica vino</button>
		</div>
	</div>
</div>
</form>
</body>

</html>