<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body>

	<div>
		<h3 class="titoli-form">Inserisci i dati del piatto:</h3>
	</div>

	<form enctype="multipart/form-data" th:action="@{/admin/inserisciPiatto}" method="POST" th:object="${piatto}">

		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="form-group">
						<label for="myFormInput">Nome</label>
						<input type="text" 
						th:field="*{nome}" 
						class="form-control" 
						id="myFormInput" 
						placeholder="Nome">
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Immagine</label>
						<input accept="image/png, image/jpeg" type="file" th:name="foto" required/>
					</div>

					<div class="form-group">
						<label>Abbinamenti con vini</label>
						<select th:field="*{vini}" class="select" multiple="multiple">
							<option disabled value="0">--Seleziona uno o più vini--</option>
							<option th:each="vino : ${vini}" class="text-capitalize"
							th:field="*{vini}"
							th:value="${vino.id}"
							th:text="${vino.nome}">
						</option>
					</select>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="submit" class="btn btn-lg my-btn-primary btn-block">Aggiungi piatto</button>
			</div>
		</div>
	</div>
</form>

</body>
</html>