<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<head th:include="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body class="text-center">
	
	<div>
		<h3 class="titoli-form">Inserisci i dati del produttore:</h3>
	</div>

	<form th:action="@{/admin/inserisciProduttore}" method="POST" th:object="${produttore}">

		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="form-group">
						<label for="myFormInput">Nome</label>
						<input type="text" 
						th:field="*{nome}" 
						class="form-control" 
						id="myFormInput" 
						placeholder="Nome">
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Descrizione</label>
						<input type="text" th:field="*{descrizione}" class="form-control" id="myFormInput-2" placeholder="Descrizione">
						<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
					</div>

					<section class="form-group">
						<p>Regioni in cui produce vini</p>
						<select th:field="*{regioni}" class="select" multiple="multiple">
							<option disabled value="0">--Seleziona una o più regioni--</option>
							<option th:each="regione : ${regioni}" class="text-capitalize"
							th:field="*{regioni}"
							th:value="${regione.id}"
							th:text="${regione.nome}">
						</option>
					</select>
				</section>

				<section class="form-group">
					<p>Vini prodotti</p>
						<select th:field="*{viniProdotti}" class="select" multiple>
							<option disabled value="0">--Seleziona uno o più vini--</option>
							<option th:each="vino : ${vini}" class="text-capitalize"
							th:field="*{viniProdotti}"
							th:value="${vino.id}" 
							th:text="${vino.nome}">
						</option>
					</select>
				</section>

			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="submit" class="btn btn-lg my-btn-primary btn-block">Aggiungi produttore</button>
			</div>
		</div>
	</div>
</form>

</body>
</html>