<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<head th:replace="fragments/myBase.html :: intestazione"></head>

<nav th:replace="fragments/myBase.html :: navigazioneLoggato"></nav>

<body class="text-center">

	<div>
		<h3 class="titoli-form">Inserisci i dati del vino:</h3>
	</div>

	<form enctype="multipart/form-data" th:action="@{/admin/inserisciVino}" method="POST" th:object="${vino}">

		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="form-group">
						<label for="myFormInput">Nome</label>
						<input type="text" 
						th:field="*{nome}" 
						class="form-control" 
						id="myFormInput" 
						placeholder="Nome">
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Descrizione</label>
						<input type="text" th:field="*{descrizione}" class="form-control" id="myFormInput-2" placeholder="Descrizione">
						<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Anno di imbottigliamento</label>
						<input type="number" 
						min="0" 
						th:max="${massimoAnno}" 
						step="1" 
						th:field="*{annoImbottigliamento}" 
						class="form-control" id="myFormInput-2" placeholder="Anno">
					</div>

					<div class="form-group">
						<label for="myFormInput-2">Immagine</label>
						<input accept="image/png, image/jpeg" type="file" th:name="foto" required/>
					</div>

					<div class="form-group">
						<label>Gradazione alcolica</label>
						<input type="number" 
						min="0"
						max="30" 
						step="0.5" 
						th:field="*{gradazione}" 
						class="form-control" 
						id="myFormInput" 
						placeholder="Gradazione alcolica">
					</div>

				</div>

				<div class="col">
					<div class="form-group"> 
						<label>Voto</label>
						<input type="number" 
						min="0" 
						max="10" 
						step="0.1" 
						placeholder="Voto" 
						th:field="*{voto}">
						<span th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}"></span>
					</div>

					<div class="form-group"> 
						<label>Colore</label>					
						<select th:field="*{colore}">
							<option disabled value="0">--Seleziona un colore--</option>
							<option value="Rosso">Rosso</option>
							<option value="Bianco">Bianco</option>
							<option value="Rosato">Rosato</option>
						</select>
					</div>

					<div for="customRange2" class="form-group">
						<label>Corposità</label>
						<input type="range" class="custom-range" min="0" max="5" id="customRange2" th:field="*{corposita}">
					</div>

					<div for="customRange2" class="form-group">
						<label>Effervescenza</label>
						<input type="range" class="custom-range" min="0" max="5" id="customRange2" th:field="*{effervescenza}">
					</div>

					<div class="form-group">
						<label>Produttore</label>
						<select th:field =*{produttore}>
							<option disabled value="0">--Seleziona un produttore--</option>
							<option  th:value="${produttore.id}" th:each="produttore :${produttori}" class="text-capitalize"
							th:text="${produttore.nome}"></option>
						</select>
					</div>

					<div class="form-group">
						<p >Abbinamenti con piatti</p>
						<select th:field =*{piatti} multiple="multiple">
							<option disabled value="0">--Seleziona uno o più piatti--</option>
							<option th:each="piatto :${piatti}" class="text-capitalize"
							th:field="*{piatti}"
							th:value="${piatto.id}" 
							th:text="${piatto.nome}"
							></option>
						</select>
					</div>

					<div class="form-group">
						<label>Catalogo</label>
						<select th:field =*{catalogo}>
							<option disabled value="0">--Seleziona un catalogo--</option>
							<option class="text-uppercase"
							th:value="${catalogo.id}" 
							th:each="catalogo :${cataloghi}" 
							th:text="${catalogo.nome}"></option>
						</select>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-lg my-btn-primary btn-block">Aggiungi vino</button>
				</div>
			</div>
		</div>
	</form>
</body>

</html>